.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 16px;
  font-weight: 400;
  color: #59636e;
}

.input {
  height: 40px;
  padding: 0 12px;
  border: 1px solid #d1d9e0;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  color: #59636e;
}

.input::placeholder {
  color: #59636e;
}

.medium {
  width: 480px;
  border-radius: 8px;
}

.large {
  width: 720px;
  border-radius: 5px;
}

.inputError {
  border-color: red;
}

.errorMessage {
  font-size: 12px;
  color: red;
}
