.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.primary {
  width: 120px;
  height: 40px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 8px;
  text-align: center;
}

.success {
  width: 120px;
  height: 40px;
  background-color: #18a0fb;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.secondary {
  width: 120px;
  height: 40px;
  background-color: #383838;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.danger {
  width: 120px;
  height: 40px;
  background-color: #ff4136;
  color: white;
  border-radius: 6px;
  text-align: center;
}

.medium {
  width: 400px;
  height: 40px;
  background-color: #18a0fb;
  color: white;
  border-radius: 6px;
  text-align: center;
}

.large {
  width: 480px;
  height: 48px;
  background-color: #18a0fb;
  color: white;
  border-radius: 6px;
  text-align: center;
}
