.wrapper {
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  appearance: none;
  font-size: 16px;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.primary {
  background-color: white;
  border-radius: 8px;
}

.success {
  background-color: #18a0fb;
  color: white;
  border-radius: 8px;
}

.secondary {
  background-color: #383838;
  color: white;
  border-radius: 8px;
}

.danger {
  background-color: #ff4136;
  color: white;
  border-radius: 6px;
}

.medium {
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 6px;
}

.large {
  width: 480px;
  height: 48px;
  color: white;
  border-radius: 6px;
}
