.selectBoxContainer {
  display: flex;
  flex-flow: column;
  margin: 40px;
}

.label {
  color: #1e1e1e;
  font-size: 12px;
  line-height: 1.4;
}

.selectBoxWrapper {
  position: relative;
  width: 240px;
}

.selectBoxWrapper::after {
  content: "";
  display: block;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(calc(-50% - 3px)) rotate(135deg);
  width: 6px;
  height: 6px;
  border-top: 1.6px solid #1e1e1e;
  border-right: 1.6px solid #1e1e1e;
  z-index: 10;
}

.selectBox {
  width: 100%;
  padding: 12px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  -webkit-appearance: none;
  position: relative;
}

.option {
  color: #1e1e1e;
  font-size: 16px;
}
